<section>
  <div class="booking">
    <div class="row pt-4">
      <div class="col-3">
        <button class="btn btn-sm w-100">
          <i class="fa-solid fa-location-dot mr-2"></i>Xem điểm đón trên bản đồ
        </button>
      </div>
    </div>
    <div class="row booking__main">
      <div class="col-3 booking__section">
        <div class="booking__section-controls">
          <div>
            <i class="fa-solid fa-filter"></i>
            <span>Bộ lọc</span>
          </div>

          <a class="filter-btn" id="filter">Lọc</a>
          <a class="reset-btn" id="reset">Reset</a>
        </div>

        <div class="options-container">
          <div class="option-box" id="list-time">
            <span class="option-title mb-2"> Giờ đi </span>

            <div class="col-6 p-1 SelectTime">
              <section class="">
                Sáng sớm
                <br />
                00:00:00-06:00:00
              </section>
            </div>
            <div class="col-6 p-1 SelectTime">
              <section class="">
                Trưa<br />
                06:00:00-12:00:00
              </section>
            </div>
            <div class="col-6 p-1 SelectTime">
              <section class="">
                Chiều<br />
                12:00:00-18:00:00
              </section>
            </div>
            <div class="col-6 p-1 SelectTime">
              <section class="">
                Tối<br />
                18:00:00-24:00:00
              </section>
            </div>
          </div>

          <div class="option-box">
            <span class="option-title mb-2"> Giá vé </span>
            <input type="range" id="rangeofvalue" name="price" min="0" max="100" value="10" />
            <div class="d-flex justify-content-between w-75 m-auto">
              <span>0 VND</span>
              <span>100.000 VND </span>
            </div>
            <span class="option-title my-2"> Ngày khởi hành </span>

            <input type="date" id="DateGo" class="form-control m-0 border-0 rounded-0" name="Depart"
              placeholder="Depart" />

          </div>

          <div class="option-box">
            <span class="option-title mb-2"> Nhà xe </span>

            <div class="check-list my-2 w-100 text-left">
              {{#each Brand}}
              <div class="check-item brand">
                <input type="checkbox" name="garage-1" value="{{this}}" />
                <label for="garage-1">{{this}}</label><br />
              </div>
              {{/each}}

            </div>
          </div>
          <div class="option-box">
            <span class="option-title mb-2"> Điểm đón</span>

            <div class="check-list my-2 w-100 text-left">
              {{#each Place}}
              <div class="check-item location-1">
                <input type="checkbox" name="location-1" value="{{this}}" />
                <label for="location-1"> {{this}}</label><br />
              </div>
              {{/each}}
            </div>
          </div>
          <div class="option-box">
            <span class="option-title mb-2"> Điểm trả</span>

            <div class="check-list my-2 w-100 text-left">
              {{#each Place}}
              <div class="check-item location-2">
                <input type="checkbox" name="location-1" value="{{this}}" />
                <label for="location-1">{{this}}</label><br />
              </div>
              {{/each}}
            </div>
          </div>
          <div class="option-box">
            <span class="option-title mb-2"> Loại giường</span>

            <div class="my-2 w-75 text-left m-auto">
              {{#each TypeBed}}
              <div class="check-item chair">
                <input type="checkbox" id="chair1" name="type-bed" value="{{this}}" />
                <label for="chair1"> {{this}}</label><br />
              </div>
              {{/each}}

            </div>

            <span class="option-title mb-2"> Đánh giá</span>

            <div class="rating w-75 m-auto">
              <i class="fa-solid fa-star text-warning"></i>
              <i class="fa-solid fa-star text-warning"></i>
              <i class="fa-solid fa-star text-warning"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9 booking__section">
        <div class="booking__section-title">
          <div class="w-75">
            <i class="fa-solid fa-bus"></i>
            <span>Chặng:<b>{{title1}} </b> </span>
          </div>
        </div>
        <div class="booking__section-sort">
          <span><b>Sắp xếp theo:</b></span>
          <span class="active">Giờ đi sớm nhất</span>
          <span>Giờ đi muộn nhất</span>
          <span>Giá tăng dần</span>
          <span>Giá giảm dần</span>
        </div>

        <div class="booking-list">
          {{#each data}}
          <div class="booking-list__item">
            <div class="col-5">
              <img src={{src}} alt="garage" />
              <span>{{type}}</span>
              <i>{{ngaykhoihanh}}</i>
            </div>
            <div class="col-7">
              <section class="d-flex align-items-center justify-content-around">
                <span>
                  <h1>{{tennhaxe}}</h1>
                </span>
                <div class="rating">
                  <i class="fa-solid fa-star text-warning"></i>
                  <b>4.5</b>
                </div>
              </section>
              <section class="location m-auto">
                <div class="d-flex justify-content-between">
                  <span>{{tpdi}}</span>
                  <span>{{tpden}}</span>
                </div>
                <div class="icon-section d-flex justify-content-around my-3 align-items-center">
                  <i class="fa-solid fa-location-dot"></i>
                  <i class="fa-solid fa-circle"></i>
                  <i class="fa-solid fa-circle"></i>
                  <i class="fa-solid fa-circle"></i>
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="d-flex justify-content-between">
                  <span>{{tgkhoihanh}}</span>
                  <span>{{tgketthuc}}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="col-6 text-center">
                    <span class="price">{{giave}} đ</span>
                  </div>
                  <div class="col-6 d-flex justify-content-center align-items-center">
                    <a href="/Booking-details/{{id}}" class="btn btn-lg">Chọn chuyến</a>
                  </div>
              </section>
            </div>
          </div>
          {{/each}}

          <div class="booking-list__item">
            <h1>No more trips...</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  const form = document.getElementById('filter');
  const reset = document.getElementById('reset');
  const form1 = document.getElementById('DateGo');
  const checkItemChair = document.getElementsByClassName("check-item chair");
  const checkItemBrand = document.getElementsByClassName("check-item brand");
  const checkItemLocation1 = document.getElementsByClassName("check-item location-1");
  const checkItemLocation2 = document.getElementsByClassName("check-item location-2");
  const SelectTime = document.getElementById("list-time")
  const value = document.getElementById("rangeofvalue")
  var object = { TimeGo: [], NumberofChair: [], NumerBrand: [], NumberLocation1: [], NumberLocation2: [], DateGo: [], PriceTicket: [] };

  // Form submit event
  function filterItems(e) {

    object['DateGo'].push(form1.value);
    for (i = 0; i < checkItemChair.length; i++) {
      if (checkItemChair[i].querySelector('input[name="type-bed"]:checked')) {
        console.log(checkItemChair[i].querySelector('input[name="type-bed"]:checked').value);
        object['NumberofChair'].push(checkItemChair[i].querySelector('input[name="type-bed"]:checked').value);

      }
    }

    for (i = 0; i < checkItemBrand.length; i++) {
      if (checkItemBrand[i].querySelector('input[name="garage-1"]:checked')) {
        console.log(checkItemBrand[i].querySelector('input[name="garage-1"]:checked').value);
        object['NumerBrand'].push(checkItemBrand[i].querySelector('input[name="garage-1"]:checked').value);
      }
    }
    for (i = 0; i < checkItemLocation1.length; i++) {
      if (checkItemLocation1[i].querySelector('input[name="location-1"]:checked')) {
        console.log(checkItemLocation1[i].querySelector('input[name="location-1"]:checked').value);
        object['NumberLocation1'].push(checkItemLocation1[i].querySelector('input[name="location-1"]:checked').value);
      }
    }
    for (i = 0; i < checkItemLocation2.length; i++) {
      if (checkItemLocation2[i].querySelector('input[name="location-1"]:checked')) {
        console.log(checkItemLocation2[i].querySelector('input[name="location-1"]:checked').value);
        object['NumberLocation2'].push(checkItemLocation2[i].querySelector('input[name="location-1"]:checked').value);
      }
    }
    object['PriceTicket'].push(value.value);

    let tg = String(object['TimeGo'][object['TimeGo'].length - 1]);
    let ngay = String(object['DateGo'][[object['DateGo'].length - 1]]);
    let brand = String(object['NumerBrand'][object['NumerBrand'].length - 1]);
    if (tg !== 'undefined') {
      let time = tg.slice(tg.indexOf("\n") + 1)
      let [timestart, timeend] = time.split('-');
      const giatri = `/Booking?start=${timestart}&end=${timeend}`;
      form.href = giatri;
    }

    else if (ngay) {
      const giatri = `/Booking?day=${ngay}`;
      form.href = giatri;

    }
    else if (brand) {
      const giatri = `/Booking?brand=${brand}`;
      form.href = giatri;

    }




  }


  function select(e) {

    console.log(object);
    if (e.target.className == "active") {
      e.target.className = "";
      const index = object['TimeGo'].indexOf(e.target.innerText);
      if (index > -1) {
        object['TimeGo'].splice(index, 1);
      }

    }
    else {
      if (e.target.innerText.search("Giờ đi") == -1) {
        object['TimeGo'].push(e.target.innerText);
        object['TimeGo'].forEach(function (item) {
          if (object['TimeGo'].indexOf(item) < 0) {
            object['TimeGo'].push(item);
          }
        });
        e.target.className = "active"
      }
    }


  }
  function resetitem(e) {
    object = { TimeGo: [], NumberofChair: [], NumerBrand: [], NumberLocation1: [], NumberLocation2: [], GheTrong: [], PriceTicket: [] };
    SelectTime.querySelectorAll('.SelectTime section').forEach(box => {
      box.className = '';
    });
    form1.value = "";
    for (i = 0; i < checkItemChair.length; i++) {
      if (checkItemChair[i].querySelector('input[name="type-bed"]:checked')) {
        console.log(checkItemChair[i].querySelector('input[name="type-bed"]:checked').checked = false);
      }
    }
    for (i = 0; i < checkItemBrand.length; i++) {
      if (checkItemBrand[i].querySelector('input[name="garage-1"]:checked')) {
        console.log(checkItemBrand[i].querySelector('input[name="garage-1"]:checked').checked = false);
      }
    }
    for (i = 0; i < checkItemLocation1.length; i++) {
      if (checkItemLocation1[i].querySelector('input[name="location-1"]:checked')) {
        console.log(checkItemLocation1[i].querySelector('input[name="location-1"]:checked').checked = false);
      }
    }
    for (i = 0; i < checkItemLocation2.length; i++) {
      if (checkItemLocation2[i].querySelector('input[name="location-1"]:checked')) {
        console.log(checkItemLocation2[i].querySelector('input[name="location-1"]:checked').checked = false);
      }
    }
    reset.href = "/Booking";

  }
  reset.addEventListener('click', resetitem);

  SelectTime.addEventListener('click', select);


  form.addEventListener('click', filterItems);

</script>